.nomer{
	height: 40px;
	width: 120px;
	font-size: 15px;
}
.sms{
	height: 40px;
	width: 120px;
	font-size: 15px;
	margin-left: 10px;
}
.child{
	color: black;
}
.map{
	width: 25px;
}
.rraa_1{
	display: flex;
}
.yozuv{
	width: 160px;
}
.ppp{
	font-size: 12px;
}
.rraa_2{
	display: flex;
}
.bbb{
	font-size: 17px;
}